@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

$base-color: #026440;
$extrasmall: 450px;
$small: 600px;
$large: 800px;
$vlarge: 1000px;

.testimonial__maindiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 1.2rem;
    h4 {
        font-size: 1.8rem;
        margin-bottom: 0;
    }
    img {
        height: 10rem;
        width: auto;
        border-radius: 50%;
        margin-bottom: 1.4rem;
    }
    .profession {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: $vlarge) {
    .testimonial__maindiv {
        h4 {
            font-size: 1.6rem;
        }
        .profession {
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width: $large) {
    .testimonial__maindiv {
        margin: 1.2rem 0;
        padding: 1.5rem;
        h4 {
            font-size: 1.4rem;
        }
        .profession {
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: $small) {
    .testimonial__maindiv {
        margin: 1.2rem 0;
        padding: 0.8rem;
        h4 {
            font-size: 1.2rem;
        }
        .profession {
            font-size: 0.8rem;
        }
    }
}